@tailwind base;
@tailwind components;
@tailwind utilities;



.searchbar{
  display: relative;
  margin-left: 19%;
}
.search{
  width: 65%;
  height: 65px;
  background-color: #f3f4f6;
  border-radius: 10px;
  
}
.btn{
  width: 90px;
  height: 65px;
  background-color: #111827;
  border-radius: 10px;
  color: white;
  
}

.frm_main{
  margin-top: 10%;
  margin-left: 35%;
  height: 400px;
  width: 400px;
  border-radius: 30px;
}

